<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/LayoutPadrao">
	
<head>
	<title>Listagem de Vinhos</title>
</head>

<body>
<section layout:fragment="conteudo">

	<div class="page-header">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-10">
					<h1>
						Listagem de Vinhos
					</h1>
				</div>
			
				<div class="col-xs-2">
					<div class="aw-page-header-controls">
						<a class="btn btn-primary" th:href="@{/produtos/novo}">
							<i class="fa  fa-plus-circle"></i> <span class="hidden-xs  hidden-sm">Novo produto</span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container-fluid">
		<div class="table-responsive">
			<table id="tabela-produtos" class="table  table-striped  table-bordered  table-hover  table-condensed  js-sticky-table">
				<thead class="aw-table-header-solid">
					<tr>
						<th class="aw-table-checkbox">
							<input type="checkbox"/>
						</th>
						<th>Código</th>
						<th>Nome</th>
						<th>Tipo</th>
						<th>Safra</th>
						<th>Volume</th>
						<th>Valor</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>1</td>
						<td><a href="#"></a></td>
						<td>Tinto</td>
						<td class="table-pesq-produto-col-estoque">1</td>
						<td class="table-pesq-produto-col-status"><span class="fa fa-check js-tooltip" data-placement="top" title="Ativo"></span></td>
						<td class="table-pesq-produto-col-acoes">
						
							<div class="btn-group">
								<button class="btn  btn-default btn-xs">
									<i class="fa  fa-pencil"></i>
								</button>
								
								<button class="btn  btn-default btn-xs">
									<i class="fa  fa-trash"></i>
								</button>
							</div>
							
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

</section>
</body>
</html>